VITE_APP_NAME=Tekkzy Fit
# beta: https://g87iwuddyc.execute-api.us-east-2.amazonaws.com/dev
# prod: https://3b0q8s76wk.execute-api.us-east-2.amazonaws.com/prod
VITE_API_URL=
VITE_GYM_API_KEY=
VITE_DEVICE_API_URL=http://127.0.0.1:8787/api
